{% extends "users/base.html" %}

{% block title %}
Potential clients
{% endblock title %}

{% block body %}
  <div class="user_profile_head_info flex_box">
    <h1>
      {% if request.GET.today_interaction == 'true' %}
        Potential clients to interact with today
      {% else %}
        All potential clients
      {% endif %}
    </h1>
  </div>
  
  <div class="flex_box_left">
    <button class="user_profile_bottom_buttoms">
      <a href="{% url "users:profile" pk=user.pk %}">My profile</a>
    </button>

    <form method="get" action="{% url 'clients:potential_list' %}">
      {% if request.GET.today_interaction == 'true' %}
        <input type="hidden" name="today_interaction" value="false">
        <button type="submit">Show all clients</button>
      {% else %}
        <input type="hidden" name="today_interaction" value="true">
        <button type="submit">Show today interaction</button>
      {% endif %}
    </form>
  </div>
  <div>
    {% for object in object_list %}
      <div class="services_list_object">
        <p class="services_list_object_title"><b>
          {{ object.first_name }} 

          {% if object.middle_name %}
            {{ object.middle_name }} 
          {% endif %}

          {{ object.last_name }}
        </b></p>
        <div class="services_list_object_other_info">
          <p>
            Interested in the advertising company "{{ object.advertising_company.title }}"
            which promotes the service "{{ object.advertising_company.service.title }}"
          </p>
        </div>
          <button class="user_profile_bottom_buttoms">
            <a href="{% url "clients:potential_detail" pk=object.pk %}">Detail</a>
          </button>
      </div>
    {% endfor %}
  </div>
{% endblock body %}