{% extends "users/base.html" %}

{% block title %}
  Advertising campaign update
{% endblock title %}

{% block body %}
  <div class="user_profile_head_info flex_box">
    <h1>Advertising campaign update</h1>
  </div>
  <form method="post">
    {% csrf_token %}
    <div class="form_create_services">
      <div>
        <p>{{ form.title.label_tag }}</p>
        <p>{{ form.title }}</p>

        {% if form.title.errors %}
          <div class="error">{{ form.title.errors.0 }}</div>
        {% endif %}
      </div>

      <div>
        <p>{{ form.service.label_tag }}</p>
        <p>{{ form.service }}</p>
        {% if form.service.errors %}
          <div class="error">{{ form.service.errors.0 }}</div>
        {% endif %}
      </div>

      <div>
        <p>{{ form.promotion_channel.label_tag }}</p>
        <p>{{ form.promotion_channel }}</p>
        {% if form.promotion_channel.errors %}
          <div class="error">{{ form.promotion_channel.errors.0 }}</div>
        {% endif %}
      </div>

      <div>
        <p>{{ form.budget.label_tag }}</p>
        <p>{{ form.budget }}</p>
        {% if form.budget.errors %}
          <div class="error">{{ form.budget.errors.0 }}</div>
        {% endif %}
      </div>
    </div>
    <button class="user_profile_bottom_buttoms" type="submit">Update</button>
    <button class="user_profile_bottom_buttoms">
      <a href="{% url "advertising:advertising_detail" pk=object.pk %}">Back</a>
    </button>

  </form>
{% endblock body %}