{% extends "users/base.html" %}
{% load custom_filters %}

{% block title %}
  Profile {{ object.username }}
{% endblock title %}

{% block body %}
  <div class="user_profile_head_info flex_box">
    <h1>Employee profile</h1>
  </div>
  <div class="user_profile_other_info">
    This is your main page. From here you can access the key functions of the system. 
    The role can be changed by the administrator. Have a nice day!
    <p><b>Username: </b>{{ object.username }}</p>
    <p><b>Full name: </b>{{ object.first_name}} {{ object.last_name }}</p>
    <p><b>Email: </b>{{ object.email }}</p>
    <p><b>Role: </b>
      {% if object.groups.all %}
        {% for role in object.groups.all %}
          {{ role }}{% if not forloop.last %}, {% endif %}  
        {% endfor %}
      {% else %}
        role missing
      {% endif %}
    </p>
  </div>
  <div class="flex_box_left">
    <div class="user_profile_bottom_buttoms">
      <button><a href="{% url "advertising:advertising_list" %}">Advertising</a></button>
    </div>

    {% with user.groups.all|map:"name" as user_groups %}
      {% if "administrator" in user_groups or "marketer" in user_groups %}
        <div class="user_profile_bottom_buttoms">
          <button><a href="{% url 'services:services_list' %}">Services</a></button>
        </div>
      {% endif %}
      {% if "administrator" in user_groups or "manager" in user_groups %}
        <div class="user_profile_bottom_buttoms">
          <button><a href="{% url 'contracts:contracts_list' %}">Contracts</a></button>
        </div>
        <div class="user_profile_bottom_buttoms">
          <button><a href="{% url 'clients:active_list' %}">Active clients</a></button>
        </div>
      {% endif %}
      {% if "administrator" in user_groups or "operator" in user_groups or "manager" in user_groups %}
        <div class="user_profile_bottom_buttoms">
          <button><a href="{% url 'clients:potential_list' %}">Potential clients</a></button>
        </div>
      {% endif %}
    {% endwith %}
      <form action="{% url "users:logout" %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
      </form>
    </div>
  </div>
{% endblock body %}
