{% extends "users/base.html" %}

{% block title %}
  Confirm termination
{% endblock title %}

{% block body %}

  <div class="user_profile_head_info flex_box">
    <h1>Confirm the termination of the contract</h1>
  </div>

  <div class="user_profile_other_info">
    Terminating the contract will return the client to potential status and set the 
    date of the next interaction to the current one.
  </div>

  <div class="flex_box_left">
    <form action="{% url "contracts:contracts_delete" pk=object.pk %}" method="post">
      {% csrf_token %}
      <button class="user_profile_bottom_buttoms">Terminate</button>
    </form>

    <button class="user_profile_bottom_buttoms">
      <a href="{% url "contracts:contracts_detail" pk=object.pk %}">Cancel</a>
    </button>
  </div>

{% endblock body %}